@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.cabecalho {
    background-color: #ff9800;
}

.acessibilidade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.acessibilidade h2, .acessibilidade div{
    margin: 0 1vw;
}
.acessibilidade h2{
    font-size: 0.8em;
}
.acessibilidade__contraste, .acessibilidade__fonte {
    display: flex;
}


.homeLogin {
    display: flex;
    justify-content: space-between;
}

.homeLogin__logo,
.homeLogin__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 1vw;
}
.homeLogin__item a{
    color: #fff;
}
ul {
    display: flex;
    list-style: none;
}

main {
    display: flex;
}

.navbar__item {
    width: 20vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3vh;
    
}

.navbar__item>a{
    color: #fff;
}
.navbar__item:hover{
    background-color: orangered;
    border-bottom: 1vh solid #fff;
}

.leftbar {
    margin: 2vw;
}

.pesquisar form {
    border: 1px solid black;
    padding: 1vw;
    border-radius: 3px;
}

.trabalho label,
.mochilao label,
.turismo label {
    font-size: .8em;
}

.pesquisar input,
select {
    border: none;
    border-bottom: 1px solid gainsboro;
}

.pesquisar__adultos {
    display: block;
    width: 100%;
}

.pesquisar__criancas {
    width: 48%;
}

.pesquisar__quartos {
    width: 48%;
}

/* CONTEUDO */
.content{
    padding: 1vw;
}
.ondeestou{
    margin-bottom: 2vw;
}
.ondeestou h2{
    font-size: 0.8em;
}
.parallax__renaissance {
    /* The image used */
    background-image: url("../img/hoteis/renaissance.jpg");

    /* Set a specific height */
    min-height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax__bluetree {
    background-image: url("../img/hoteis/bluetree1.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax__goldentulip {
    background-image: url("../img/hoteis/goldentulip.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
