@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.cabecalho {
    background-color: #ff9800;
    position: fixed;
    top: 0;
    width: 100%;
}

.acessibilidade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1vw;
}

.acessibilidade h2,
.acessibilidade div {
    margin: 0 1vw;
}

.acessibilidade h2 {
    font-size: 0.8em;
}

.acessibilidade__contraste,
.acessibilidade__fonte {
    display: flex;
    margin-right: 1em;
}

.acessibilidade__idioma select,
.acessibilidade__moeda select {
    border-radius: 40%;
}


.homeLogin {
    display: flex;
    justify-content: space-between;
}

.homeLogin__logo,
.homeLogin__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 1vw;
    width: 20vw;
}

.homeLogin__logo {
    width: 50vw;
    justify-content: start;
    padding-left: 5em;
}

.homeLogin__item a {
    color: #fff;
    text-decoration: none;
}

.homeLogin__item:hover {
    background-color: orangered;
    border-bottom: 1vh solid #fff;
}

ul {
    display: flex;
    list-style: none;
}

main {
    display: flex;
    margin-top: 20vh;
}

.acessibilidade {
    height: 5vh;
}

.navbar__item {
    width: 20vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3vh;

}

.navbar__item>a {
    color: #fff;
    text-decoration: none;
}

.navbar__item:hover {
    background-color: orangered;
    border-bottom: 1vh solid #fff;
}

.leftbar {
    margin: 2vw;
}

.pesquisar form {
    border: 1px solid black;
    padding: 1vw;
    border-radius: 3px;
}

.trabalho label,
.mochilao label,
.turismo label {
    font-size: .8em;
}

.pesquisar input,
select {
    border: none;
    border-bottom: 1px solid gainsboro;
}

.pesquisar__adultos {
    display: block;
    width: 100%;
}

.pesquisar__criancas,
.pesquisar__quartos {
    width: 48%;
    font-size: 0.8em;
}


/* FILTROS */
.filtros {
    padding: 1vw 0;
    font-size: 0.8em;
}

.preco,
.categoria,
.distancia {
    border: 1px solid black;
    padding: 1vw;
    border-radius: 3px;
    margin: 1em 0;
}

.linha {
    display: block;
}

form label {
    font-size: 0.8em;
}

/* HAMBURGUER */
.hamburguer,
.hamburguer__links {
    display: none;
}


/* CONTEUDO */
.content {
    padding: 1vw;
}

.content h3 {
    font-size: 2em;
    margin: 8vh 0 2vh;
}

.ondeestou {
    margin-bottom: 10vh;
}

.ondeestou h1 {
    font-size: 2.2em;
    margin-top: 2em;
}

.ondeestou h2 {
    font-size: 0.8em;
}

.parallax__renaissance {
    background-image: url("../img/hoteis/renaissance.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax__bluetree {
    background-image: url("../img/hoteis/bluetree1.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax__goldentulip {
    background-image: url("../img/hoteis/goldentulip.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt p {
    font-size: 1.2em;
    margin: 8vh 0 2vh;
}

.txt a {
    display: flex;
    justify-content: flex-end;
}

.list__item {
    display: block;
    margin: 0 2vw;
}

/* RODAPÉ */
footer {
    background-color: #ff9800;
    color: white;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer ul li {
    padding: 0.2em;
    font-size: 1.5em;
}

footer p {
    margin: 1em 0;
}

/* MEDIA QUERY */

@media(max-width: 1024px) {
    main {
        margin-top: 15vh;
    }

    .ondeestou,
    .ondeestou h1,
    .content h3 {
        margin: 0.2em 0;
    }

    .txt p {
        margin: 1em 0;
    }

    .cabecalho {
        z-index: 1;
    }

    .navbar__item {
        height: 5em;
    }

    .leftbar {
        position: fixed;
        width: 25%;
    }

    .content {
        width: 73%;
        position: absolute;
        right: 0;
        z-index: 0;
        padding-bottom: 21vh;
    }

    footer {
        position: fixed;
        bottom: 0;
        height: 10vh;
        width: 100%;
    }
}

@media(max-width: 450px) {

    main {
        margin-top: 11vh;
    }

    .content {
        width: 100%;
        padding-bottom: 12vh;
    }

    footer {
        font-size: 0.6em;
    }

    .acessibilidade h2 {
        display: none;
    }

    .homeLogin__logo {
        padding-left: 0;
    }

    .homeLogin__logo h1 {
        font-size: 1.2em;
    }

    .homeLogin__item a {
        font-size: 0.8em;
    }

    .navbar ul,
    aside {
        display: none;
    }

    /* CABEÇALHO */
    .ondeestou {
        margin-bottom: 0;
    }

    .ondeestou h1 {
        font-size: 1.8em;
        margin: 0;
    }

    .ondeestou h2 {
        display: none;
    }

    .content h3 {
        margin: 0;
        font-size: 1.2em;
    }

    .txt {
        font-size: 0.8em;
        margin: 0;
    }

    .txt p {
        margin: 0;
    }

    .txt a {
        justify-content: center;
        background-color: orange;
        width: 100%;
        text-decoration: none;
    }

    /* hamburguer */
    .hamburguer__linha {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 5px;
    }

    .hamburguer {
        position: absolute;
        right: 0;
        cursor: pointer;
        display: block;
    }

    .hamburguer__linha {
        width: 30px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        margin: 5px;
    }
    .hamburguer {
        position: absolute;
        right: 0;
        cursor: pointer;
        background-color: #ffffffe0;
        border-radius: 3px;
    }

    .links.open {
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
        width: 100%;
    }

    .links__menu.open {
        display: flex;
        flex-direction: column;
        height: 13em;
    }

    .fechar__hamburguer {
        justify-content: flex-end;
        padding: 3px;
        display: flex;
    }

    .hamburguer.open {
        display: none;

    }

    .barra__navegacao {
        position: relative;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: flex-end;
        position: absolute;
        right: 0;
        background-color: orange;
    } 

    .navbar__item {
        width: 100%;
    }
}
}